# Cassie daemon systemd config file

[Unit]
Description=Cassie chat bot daemon
After=syslog.target network.target auditd.service

[Service]
Type=forking
PIDFile=/var/run/cassie.pid
ExecStart=/opt/cassie/cassie.py -c /opt/cassie/cassie.conf
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target
