# Cassie daemon systemd config file
# This file goes in /lib/systemd/system/

[Unit]
Description=Cassie chat bot daemon
After=syslog.target network.target auditd.service

[Service]
Type=forking
PIDFile=/var/run/cassie.pid
ExecStart=/opt/cassie-bot/cassie.py -L INFO -c /opt/cassie-bot/cassie.conf
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target
